@import '/node_modules/quasar/src/css/variables.sass';

.cimpl-schema {
    width: 100%;

    &-entry {
        //display: flex;
        //flex-wrap: wrap;
        //align-items: center;
        //border: 1px solid red;
        //padding: 5px;

        //.block

        &.cimpl-schema-entry-disabled.control-fade-disabled {
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        &.is-blocked {

            //border: 10px solid red;
            &::after {
                content: "";
                background: rgba(white, .3);
                width: 100%;
                height: 100%;
                position: absolute;
                display: inline-block;
                left: 0;
                top: 0;
            }
        }

        &:is(.field-row, .field-column) {

            &:not(.no-bottom-margin) {
                margin-bottom: 20px;
            }

            >.cimpl-schema-entry-label {
                .wrap {
                    color: #959595;
                    font-weight: bold;
                    text-transform: uppercase;
                    //padding: 3px 3px 3px 18px;
                    padding: 3px 3px 3px 5px;
                    background: #dadada;
                    border-left: 3px solid #adadad;
                    //margin: 0 0 -10px 0;
                    margin-bottom: -10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    height: min-content;
                    width: 100%;
                }
            }

            //&[class*='q-gutter-'],
            //&[class*='q-col-gutter-'] {
            /*&[class*='q-col-gutter-']:not(.q-col-gutter-none) {
                >.cimpl-schema-entry-label {
                    margin-left: 16px;
                    margin-top: 16px;
                    width: calc(100% - 16px);
                }
            }*/
        }

        &.side-label {
            >.cimpl-schema-entry-label {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-weight: 500;
            }
        }

        &:not(.field-row, .field-column, .side-label) {
            >.cimpl-schema-entry-label {
                display: none;
                /*float: left;
            width: 30%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: none;

            +* {
                float: right;
                width: 70%;
            }*/
            }
        }

        &[class*='q-col-gutter-'].cimpl-q-gutter-fix {
            .cimpl-schema-entry-first-row-element {
                padding-left: 0;
            }
        }

        /*&-first-row-element:not(.field-column, .field-row) {
            padding-left: 0;
            //border: 2px dashed red;
        }*/

        .field-row>.field-column {
            //padding-left: 0;
        }

        /*&.field-row,
    &.field-column {
        .cimpl-form-block-label {
            display: inline-block;
        }
    }*/

        &.field-media-picker {
            .cimpl-schema-entry-super-controller {
                height: 100%;
            }
        }

        &.ignore-fade-disabled {
            .q-field--disabled .q-field__control>div {
                opacity: unset !important;
            }
        }
    }

    .cimpl-q-gutter-fix {
        margin-left: 0;
        margin-top: 0;
    }

    .cimpl-q-gutter-fix-x {
        margin-left: 0;
    }

    $spaces: (
        xs: $space-xs,
        sm: $space-sm,
        md: $space-md,
        lg: $space-lg,
        xl: $space-xl
    );

@each $spaceName,
$spaceValue in $spaces {
    .q-col-gutter-#{$spaceName}>*[class*=q-col-gutter-]:not(.q-col-gutter-none) {
        margin-left: 0;
        padding-left: 0;
    }
}
}